<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Our Courses</h2>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let course of courses">
        <div class="card h-100 shadow-sm">
          <img [src]="course.image" class="card-img-top" alt="course">
          <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <a href="#" class="btn btn-outline-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
